#horizontal{
    background-color:#FF3131 ;
}
#cabecalho {
    font-family: 'Righteous', cursive;
    text-shadow: #000000 1px -1px 2px, #000000 -1px 1px 2px, #000000 1px 1px 2px, #000000 -1px -1px 2px;
    color: #F2C903;
    text-align: center;
    padding-bottom: 2%;
    
}
#titulo{
    font-family: 'Oswald', sans-serif;
    color: aliceblue;
    text-shadow: #000000 1px -1px 2px, #000000 -1px 1px 2px, #000000 1px 1px 2px, #000000 -1px -1px 2px;
}

#homeservicos {
    font-family:  'Oswald', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
    font-size: xx-large;
    text-shadow: #000000 1px -1px 2px, #000000 -1px 1px 2px, #000000 1px 1px 2px, #000000 -1px -1px 2px;
}

.header {
    position: relative;
    top: 50; /* Move a imagem para o meio verticalmente */
    left: 46%; /* Move a imagem para o meio horizontalmente */
    padding-top: 2%;
}

#body {
    background-color: #F2C903;
}

#paragrafos {
    font-family: 'Oswald', sans-serif;
    color: antiquewhite;
    text-shadow: #403B3B 1px -1px 2px, #403B3B -1px 1px 2px, #403B3B 1px 1px 2px, #403B3B -1px -1px 2px;
}

#nossos{
    font-family: "Source Sans Pro";
    text-shadow: #000000 1px -1px 2px, #000000 -1px 1px 2px, #000000 1px 1px 2px, #000000 -1px -1px 2px;
    color: #F2C903;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 0.5%;
}

.produto{
    display: table;
    text-align: center;
    border-top: none;
    padding-top: 0;
    float: inline-start;
}

.blocos {
    font-family: 'Oswald', sans-serif;
    color: antiquewhite;
    text-shadow: #403B3B 1px -1px 2px, #403B3B -1px 1px 2px, #403B3B 1px 1px 2px, #403B3B -1px -1px 2px;  
}